/* Stile barra laterale */
#sidebar-wrapper {
    width: 250px;
    height: 100vh; /* Estensione completa dello schermo */
    position: fixed;
    background-color: #222;
}

.sidebar-heading {
    padding: 1.5rem;
    font-size: 1.75rem;
    text-align: center;
}

.sidebar-heading .logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.list-group-item {
    border: none;
    padding: 15px;
    color: #fff;
}

.list-group-item:hover {
    background-color: #444;
}

/* Layout per la pagina principale */
#page-content-wrapper {
    margin-left: 250px;
    width: calc(100% - 250px);
}

body {
    background-color: #333;
    color: #fff;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-header {
    font-size: 1.25rem;
}

.card-title {
    font-size: 1.25rem;
}

.card-body p {
    font-size: 1rem;
}
